.App-header {
  background-color:var(--background-color);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color:var(--color);
}
.menu {
  background-image: linear-gradient(45deg,#2525bd, #2c0a3e);
}
#navbarTogglerDemo01 > ul > li > a {
  color:#fff;
}
/* .menu-main{
  background-image: linear-gradient(45deg,#2525bd, #2c0a3e);
} */
.menu li{
  margin-left: 80px;
  font-weight: 500;
  font-size: 15px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
/* .card-img-top{
  width: 175px;
  height: 175px;
 margin-left: 365px;
} */


.logout{
  float: right;
  margin-right: 35px;
}
.system .col-2 .card-body p{
  float:left;
}


/* Product */
.nav-product  .nav-link.active {
  background-image: linear-gradient(45deg, #2c0a3e,#2525bd);
  color: #fff;
  font-weight: 600;
}

.nav-item{
  margin-bottom: 20px;
  font-weight:700;
  font-size:16px;
  cursor: pointer;
}

.nav-link{
  border-radius: 0;
  color:#fff;
}
  .ant-btn .btn-light{
      float:right;
      font-size:18px;
      color: rgb(13, 69, 24);
  
  }
  .ant-btn .btn-info{
    margin:5px 0 5px 15px;
    color:#fff;
    font-weight: 500;
    cursor: pointer;
  }
  
  .menu-home li{
     margin-left: 25px;
     font-weight: 500;
     font-size: 15px;
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  
  .menu-home .header a{
    color: #fff;
    font-size:13px;
    padding: 0px;
    margin-top: 0px;
    font-weight: 700;
   
 }
 #navbarToggler > div > div.header-main > ul > li > a{
   color: #fff;
   font-size: 18px;
   font-weight: 700;
 }
 
 .menu-home .header {
   height: 30px;
  margin-bottom: 10px;
 }
 .userinfo .col-2{
   background-color: rgb(244, 254, 255);
 }
 .edit-profile{
   float: right;
 }

 /* Login */
 .cart-pay{
   margin-left:750px;
 }
 .border-cart{
  height: 3px;
  width: 100%;
  background-position-x: -30px;
  background-size: 116px 3px;
  background-image: repeating-linear-gradient(45deg,#0c1a26,#6fa6d6 33px,transparent 0,transparent 41px,#510913 0,#f18d9b 74px,transparent 0,transparent 82px)
 }
 .product-address{
   font-weight: 500;
 }

 .errorSignIn{
  color: #b51a50;
  font-weight: 400;
  font-size: 15px;
}
.errorSignIn::before {
 font-family: FontAwesome;
  display: inline;
  content: "\f071 ";
  
}
.form-group .col-sm-4 {
  margin-top:15px;
}
.nav-profile  .nav-link.active {
  background:aqua;
  color:black;
  font-weight: 600;
  border-radius:5px 5px;
}
